@keyframes slideUp {
  from {
    transform: translateY(calc(100%));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(calc(-100%));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expandRow {
  to {
    grid-template-rows: auto 1fr auto;
  }
}
