.favoriteSong {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    background: rgba(black, 0.05);
    border-radius: 0.5rem;
  }

  &__music {
    display: flex;
    gap: 1rem;
    width: 100%;
    background: rgba(black, 0.08);
    border-radius: 0.875rem;
    padding: 0.5rem;

    p {
      text-box-trim: all;
    }

    img {
      width: 64px;
      height: 64px;
      aspect-ratio: 1 / 1;
      border-radius: 1rem;
    }
  }

  &__image {
    width: 64px;
    height: 64px;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__music {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__spotify {
    display: flex;
    width: fit-content;
    align-self: last baseline;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    opacity: 0.4;
    transition: opacity 200ms ease-in-out;

    img {
      width: 14px;
      height: 14px;
      filter: invert(1);

      @media (prefers-color-scheme: dark) {
        filter: invert(0);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &__player {
    width: 140px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
  }
}
