.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  top: 0;
  left: 0;
  z-index: 20;
  letter-spacing: -0.04em;
  width: 100%;
  max-width: 1880px;
  background-color: var(--background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;

  @media (prefers-color-scheme: dark) {
    background-color: var(--background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__content {
    max-width: 720px;
    flex: 1 0 0;
    height: min-content;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    transition: max-width 0.6s ease;
    font-size: 0.875rem;

    @media (max-width: 1200px) {
      max-width: unset;
      transition: width 0.6s ease;
    }
  }

  &__left {
    font-weight: 700;
    white-space: nowrap;
  }

  &__right {
    display: flex;
    gap: 2px;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
}
