.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  height: 60px;
  top: 0;
  z-index: 10;
  width: 95%;
  letter-spacing: -0.06em;
  transition: transform 0.6s ease;
  max-width: 1880px;

  &__left {
    font-weight: 700;
  }

  &__right {
    display: flex;
    gap: 2px;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
