@use "../../styles/animations";

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  user-select: none;

  @media screen and (min-width: 768px) {
    height: 100dvh;
  }
}

.stack {
  display: grid;
  grid-template-rows: auto 0fr auto;
  grid-template-columns: 1fr;
  justify-items: center;
  width: fit-content;
  animation: expandRow 0.9s cubic-bezier(0.76, 0, 0.24, 1) forwards 1s;
}

.headingTop,
.headingBottom {
  font-weight: 800;
  font-size: clamp(3rem, 11vw, 4rem);
  text-transform: uppercase;
  line-height: 0.85;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  opacity: 0;

  @media screen and (min-width: 1536px) {
    font-size: clamp(3rem, 11vw, 6rem);
  }
}

.headingTop {
  grid-row: 1;
  transform: translateY(calc(100%));
  animation:
    fadeIn 0.5s ease forwards 0s,
    slideUp 0.9s cubic-bezier(0.76, 0, 0.24, 1) forwards 1.3s;
  z-index: 2;
}

.headingBottom {
  grid-row: 3;
  transform: translateY(calc(-100%));
  animation:
    fadeIn 0.5s ease forwards 0s,
    slideDown 0.9s cubic-bezier(0.76, 0, 0.24, 1) forwards 1s;
  z-index: 1;
}

.image {
  grid-row: 2;
  width: 100%;
  aspect-ratio: 4 / 3;
  min-height: 0;
  opacity: 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  animation: fadeIn 1.2s ease forwards 1.6s;

  @media screen and (max-width: 768px) {
    width: 80dvw;
  }
}

.subTitle {
  margin-top: 1rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease forwards 2.5s;
}
