$ticker-color: rgba(black, 0.2);
$ticker-color-elapsed: rgba(black, 0.8);

$ticker-color-dark: rgba(white, 0.4);
$ticker-color-dark-elapsed: rgba(white, 0.8);

.timeline-bar {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  cursor: pointer;

  &__tick {
    --scale: 1;
    background: $ticker-color;
    width: 2px;
    height: 0.675rem;
    border-radius: 2px;
    transform: scaleY(var(--scale));
    transform-origin: bottom;
    transition:
      transform 80ms ease-out,
      background-color 100ms ease-out;
    pointer-events: none;

    &.elapsed {
      background-color: $ticker-color-elapsed;
    }
  }

  @media (prefers-color-scheme: dark) {
    &__tick {
      background: $ticker-color-dark;

      &.elapsed {
        background-color: $ticker-color-dark-elapsed;
      }
    }
  }
}
