$gap-size: 8px;

.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 1.2em;
  overflow: hidden;

  &.visible .text {
    transform: translateY(0);
  }
}

.text {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 $gap-size;

  /* Start hidden and shifted down */
  transform: translateY(100%);

  /* Smooth transition for transform */
  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Hover slides text up */
.container:hover .text {
  transform: translateY(-100%);
}
