.experience {
  padding-bottom: 2rem;
  width: 100%;
  position: relative;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 0 24px;

    @media (min-width: 1200px) {
      justify-content: center;
      justify-self: center;
      max-width: 720px;
    }

    @media (max-width: 810px) {
      flex-direction: column;
    }
  }

  &__eyebrow {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  }

  &__title {
    min-width: 30%;
    font-size: 0.875rem;
  }

  &__label {
    display: inline-block;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      text-box-trim: all;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 4rem;
    }
  }

  &__job {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: stretch;
    gap: 8px;
  }

  &__company {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    gap: 6px;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: cover;
      object-position: center;
      border-radius: 4px;
    }
  }

  &__position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    white-space: normal;
  }

  &__description {
    p {
      text-box-trim: all;
      opacity: 0.6;
    }
  }

  &__dates {
    min-width: 30%;
    font-size: 0.75rem;
    opacity: 0.6;
  }

  &__resume {
    margin-top: 2rem;
    place-self: flex-start;

    @media (min-width: 1200px) {
      place-self: flex-end;
      max-width: 720px;
    }
  }

  &__logo {
    box-shadow: 0 0 4px rgba(0, 0, 4, 0.1);
  }

  &__stack {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      background-color: #00000041;
      padding: 0.25rem 0.75rem;
      border-radius: 8px;
      font-size: 0.75rem;
      opacity: 0.6;
    }
  }
}
